body,
h2,
div,
span {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

section {
  width: 97%;
  height: 100%;
  border: 3px solid black;
  margin-top: 2rem;
}

.block-box {
  display: block;
  background-color: yellow;
  margin-bottom: 1.3rem;
  padding: 0.7rem;
}

.inline-box {
  display: inline;
  background-color: red;
  margin-bottom: 1.3rem;
  padding: 0.7rem;
  width: 100px;
}

.inliblock-box {
  display: inline-block;
  background-color: blue;
  margin-right: 1.3rem;
  margin-bottom: 1.3rem;
  padding: 0.7rem;
  width: 100px;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  background-color: green;
  padding: 10px;
  margin: 0.7rem;
}

.flex-section {
  display: flex;
  height: 300px;
  justify-content: end;
  align-items: flex-end;
}
